


<h3>Hello this is materil Design</h3>
<div class="app-content">
    <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button>Raised</button>
    </md-card>
    <md-card>
        <button md-icon-button>
        <md-icon class="md-24">favorite</md-icon>
        </button>
        <button md-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
        <button md-mini-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
        </md-card>
        <md-card>
            <button md-raised-button color="primary">PRIMARY</button>
            <button md-raised-button color="accent">PRIMARY</button>
            <button md-raised-button color="warn">warn</button>

        </md-card>
    
</div>
